<%= stylesheet_link_tag "main" %>
<p><%= link_to 'Manage Articles', '/admin/articles' %></p>
<p><%= link_to 'Manage Challenges', '/admin/challenges'%></p>
<p><%= link_to 'Manage Users', '/admin/users' %></p>
<p><%= link_to 'Manage Teams', '/admin/teams' %></p>
<p><%= link_to 'Manage Flags', '/admin/flags'%></p>
<p><%= link_to 'Manage Sponsors', '/admin/sponsors'%></p>
<p><%= link_to 'Manage People', '/admin/people' %></p>