<div class="page-content">
<%= stylesheet_link_tag "main" %>
<p><%= link_to 'Articles', '/admin/articles',class:"table-button-single" %></p>
<p><%= link_to 'Challenges', '/admin/challenges',class:"table-button-single"%></p>
<p><%= link_to 'Users', '/admin/users',class:"table-button-single" %></p>
<p><%= link_to 'Teams', '/admin/teams',class:"table-button-single" %></p>
<p><%= link_to 'Flags', '/admin/flags',class:"table-button-single"%></p>
<p><%= link_to 'Sponsors', '/admin/sponsors',class:"table-button-single"%></p>
<p><%= link_to 'People', '/admin/people',class:"table-button-single"%></p>
</div>


