
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>


<% if current_user %>
  <div class="page-header"><h1>Welcome back!</h1></div>

  <h2>Some info about you...</h2>
  <% if current_user.admin == true%>
    <p>you are an admin</p>
    <%= link_to 'administration', '/admin'%>
  <% end %>

  <div class="well well-lg">
    <ul>
      <li>Login count: <%= current_user.login_count %></li>
      <li>Failed login count: <%= current_user.failed_login_count %></li>
      <li>Last request: <%= current_user.last_request_at %></li>
      <li>Current login at: <%= current_user.current_login_at %></li>
      <li>Last login at: <%= current_user.last_login_at %></li>
      <li>Current login IP: <%= current_user.current_login_ip %></li>
      <li>Last login IP: <%= current_user.last_login_ip %></li>
      <li><%= link_to 'Sign Out', sign_out_path, method: :delete %></li>
    </ul>
  </div>
<% else %>
  <p>ur not logged in</p>
  <p><%= link_to 'Sign In', sign_in_path, method: :get %></p>
<% end %>