<h1><%= @challenge.title %></h1>

<p><%= @challenge.description %></p>
<p><%= @challenge.point_value %></p>
<p><%= @challenge.link %></p>
<p><%= @challenge.connection_string %></p>
<p><%= @challenge.id %></p>
