<%= render 'header'%>
<h1><%= @challenge.title %></h1>
<p><%= @challenge.description %></p>
<p><%= @challenge.point_value %></p>
<p><%= @challenge.link %></p>
<p><%= @challenge.connection_string %></p>
<p><%= @challenge.id %></p>

<% if flash[:success] %>
  <div class="notice"><%= flash[:success] %></div>
<% end %>
<% if @hint == true %>
  <p>the hint is: <%= @challenge.hint %> </p>
<% else %>
  <%= form_with url: hint_path, method: "get", local: true do |form| %>
    <%= form.button 'Get Hint' %>
  <% end %>
<%end %>  
<%= form_with url: submit_path, local: true do |form| %>
  <%= form.text_field :submitted_flag %>
  <%= form.submit 'Submit Flag'%>
<% end %>

