<!DOCTYPE html>
<html>
  <head>
    <title><%= Contest.find_by(active: 1).title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= render 'header'%>
    </div>

    <div class='botm-half-cntr'> <!-- This contains everything below the header-->
      <div><!-- This will be our sidebar-->
        <%= render 'sidebar'%>
      </div> 
      <div class='bottom-right-cntr'> <!-- This contains both the botton of the header and the main content of the page-->
        <div class='bottom-header-bar'><!-- This will be our header bottom element-->
          <div class="bottom-right-bar"></div>
                <div class="bottom-arch-bg"> <div class="bottom-arch"></div></div>
        </div> <!-- This will contain the main content-->
        <div class="page-content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
