<!DOCTYPE html>
<html>
  <head>
    <title><%=Contest.find_by(active: 1).title%> - Help</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<%= render 'header'%>
<div class="page-mid">
  <div class="mid-left-container">
    <%= render 'sidebar'%>
  </div>
  <div class="mid-right-container">
    <%= yield %>
  </div>
</div>
    
  </body>
</html>
